.avatarWrapper{
    width: 15.75em;
    height: 14.5em;
    border: 0.06em solid #5D589A;
    background-color: #FFF;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatarHoverWrapper {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 10em;
  }
  
  .hoverPlusIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 5em;
    height: 5em;
    pointer-events: none;
  }
  
  .avatarHoverWrapper:hover .hoverPlusIcon {
    opacity: 1;
  }
  