.detailContainer {
    width: 84.1em;
    margin: 0 auto;
    padding: 1.2em;
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    position: relative;
  }
  
  .detailContainer h1 {
    font-size: 2.2em;
    font-weight: 600;
    color: #221F50;
    margin: 0 0 0.6em;
  }
  .detailContainer p{
    font-size: 1em;
    color: #221F50;
  }
  
  .searchParams {
    display: flex;
    justify-content: right;
    position: absolute;
    right: 1em;
    bottom: 1.2em;
  }
  
  .searchParams p {
    font-weight: 500;
    margin-bottom: 0.3em;
    color: #333333;
  }
  
  .searchParams ul {
    list-style: none;
    padding: 0;
  }
  
  .searchParams li {
    padding: 0.3em 0;
    color: #666666;
    font-size: 0.9em;
  }
  
  .listingImage {
    width: 41.25em;
    height: 27em;
    object-fit: cover;
    border-radius: 0.5em;
    margin-bottom: 16em;
  }
  
  .bookButton {
    width: 16em;
    height: 3.25em;
    border-radius: 2.8em;
    padding: 0.6em 1.2em;
    background-color: #E07B3B; /* Оранжевый цвет кнопки */
    color: white;
    border: none;
    font-size: 1.75em;
    font-weight: 700;
    cursor: pointer;
    align-self: flex-start;
  }
  
  .bookButton:hover {
    background-color: #ea580c;
  }
  .listingType{
    position: absolute;
    display: flex;
    border-radius: 0.6em;
    font-family: 'Myfont', sans-serif;
    font-weight: 100;
    top: 1em;
    left: 1.2em;
    width: 6em;
    height: 1.7em;
    background-color: #5D589A;
    color: #FFF;
    justify-content: center;
  }
  .photoCarousel {
    width: 41.25em;
    height: 27em;
    position: relative;
    text-align: center;
  }
  
  .dots {
    margin-top: 0.6em;
  }
  
  .dot {
    height: 0.7em;
    width: 2.2em;
    margin: 0 0.2em;
    background-color: #FFF;
    border-radius: 1.6em;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 0.06em solid #E07B3B;
  }
  
  .activeDot {
    background-color: #E07B3B;
  }
  .price strong{
    font-size: 2.2em;
    color: #5D589A;
  }
  
  @media (min-width: 768px) {
    .detailContainer {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .detailContent {
      flex: 1;
      margin-left: 20px;
    }
  
    .listingImage {
      margin-bottom: 0;
    }
  }