.propertyGridContainer {
    padding: 1.2em;
    padding-left: 3.75em;
    width: 90em;
    min-height: 27em;
    background-color: #fff;
    border-radius: 1.9em;
    border: 0.06em solid #AFB06A;
  }
  
  .sortControls {
    margin-bottom: 1.2em;
    display: flex;
    gap: 0.6em;
  }
  .sortControls h2{
    color: #5D589A;
    font-size: 1.8em;
  }
  .sortBtn {
    padding: 0.5em 1em;
    border: 0.1em solid #5D589A;
    background-color: #FFE8D9;
    color: #5D589A;
    border-radius: 1.2em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sortBtn:hover {
    background-color: #5D589A;
    color: #FFE8D9;
  }
  
  .sortBtn.active {
    background-color: #5D589A;
    color: #FFE8D9;
  }
  
  .propertyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0;
    width: 100%;
  }
  
  .propertyCard {
    border: 0.06em solid #FFE8D9;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 26em;
    height: 21em;
    margin-bottom: 1.6em;
  }
  
  .propertyImage {
    width: 24em;
    height: 16em;
    padding: 0.3em 0.3em 0.3em 0px;
  }
  
  .rating {
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.1em 0.5em;
    border-radius: 0.2em;
  }
  
  .propertyInfo {
    padding: 0.6em;
    text-align: left;
  }
  
  .propertyName {
    color: #f97316; /* Оранжевый цвет */
    font-size: 1.2rem;
    margin: 0;
  }
  
  .propertySubtitle {
    color: #6b7280; /* Серый цвет */
    font-size: 0.9rem;
    margin: 0;
  }
  .editContainer{
    position: absolute;
    right: 1.2em;
    bottom: 1.6em;
  }
  .editContainer button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }