.wrapper {
    position: relative;
    width: 32em;
    height: 22em;
    border-radius: 1.6em;
    overflow: hidden;
    background-color: #FFFF;
    border: 0.1em solid #AFB06A;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0.6em;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 1em;
    z-index: 1;
  }
  
  /* Пустое состояние — плюс по центру */
  .emptyState {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; /* поверх картинки */
  }
  
  .bigPlusIcon {
    width: 3.75em;
    height: 3.75em;
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }
  
  .emptyState:hover .bigPlusIcon,
  .emptyState:focus .bigPlusIcon {
    opacity: 1;
  }
  
  .input {
    display: none;
  }
  
  /* Контейнер для точек: по центру, поверх картинки */
  .dots {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    position: absolute;
    bottom: 0.6em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* чтобы точки были поверх */
    user-select: none;
  }
  
  /* Точки */
  .dot {
    width: 1em;
    height: 0.3em;
    border-radius: 0.2em;
    background-color: #FFE8D9;
    border: 0.06em solid #E07B3B;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .dotActive {
    background-color: #E07B3B;
  }
  
  /* Кастомный скролл для WebKit */
  .dotsWrapper::-webkit-scrollbar {
    height: 0.3em;
  }
  
  .dotsWrapper::-webkit-scrollbar-thumb, .dotsWrapper::-webkit-scrollbar-track {
    background-color: #E07B3B;
    border-radius: 0.2em;
  }
  
  .deleteButton{
    z-index: 11;
    position: absolute;
    background: none;
    cursor: pointer;
    background-color: #FFFF;
    border: 0.1em solid #E07B3B;
    border-radius: 1.6em;
    padding-top: 0.2em;
    width: 3.5em;
    height: 2.4em;
    right: 1em;
    bottom: 1em;
  }