.sidebar {
    width: 260px;
    background-color: #5D589A;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  font-family: 'MyFont', sans-serif;
}
.sidelink li{
    display: flex;
    color: white;
    margin-top: 30px;
    list-style-type: none;
}
.sidelink li:hover{
    scale: 1.05;
    opacity: 90;
    transition: 0.3s;
}
.sidelink{
    text-decoration: none;
}
.links{
    margin-left: 90px;
}
.links{
    margin-top: 40px;
}
.navigationLink{
    margin-top: 3px;
    margin-right: 15px;
}
  