.sidebar {
    width: 16em;
    background-color: #5D589A;
    margin: 2em 0;
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    height: 100%;
    font-family: 'MyFont', sans-serif;
}
.sidelink li{
    display: flex;
    color: white;
    margin-top: 2em;
    list-style-type: none;
}
.sidelink li:hover{
    scale: 1.05;
    opacity: 90;
    transition: 0.3s;
}
.sidelink{
    text-decoration: none;
}
.links{
    margin: 2.5em 0 0 5.6em;
}
.navigationLink{
    margin: 0.2em 1em 0 0;
}
  