.profileCard {
    position: relative;
  display: flex;
  align-items: center;
  background: #FFF;
  border-radius: 1em;
  padding: 1.2em;
  padding-top: 0;
  width: 60em;
  box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.05);
  font-family: 'MyFont', sans-serif;
  height: 16em;
  border: #5D589A 1px solid;
  }
  
  .editIcon {
    position: absolute;
    top: 0.7em;
    right: 0.7em;
    cursor: pointer;
  }
  .editLink svg{
    fill: #5D589A;
  }
  .editIcon:hover{
    transition: 0.5s;
    scale: 1.1;
    opacity: 0.8;
  }

  .profileImage{
    flex-shrink: 0;
    padding-top: 1.2em;
  }

  .profileImage img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profileInfo {
    margin-left: 1.2em;
    display: flex;
    flex-direction: column;
    color: #2e1b3f; 
  }
  
  .profileInfo h2 {
    margin: 0;
    font-size: 1.75em;
    font-weight: bold;
    color: #221F50;
  }
  
  .birthdate,
  .location {
    font-size: 1.1em;
    color: #5D589A;
    font-weight: 500;
    margin: 0.1em 0;
  }
  
  .role {
    color: #E07B3B;
    font-weight: 500;
    margin: 0.1em 0 0.7em;
    font-size: 1.1em;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: 1.1em;
    margin-bottom: 3em;
  }
  
  .contact div {
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-weight: 500;
    color: #5D589A; 
    
  }
  .email{
    position: absolute;
    bottom: 1.1em;
  }
  .email svg{
    fill: #5D589A;
  }
  .phone{
    position: absolute;
    bottom: 1.1em;
    left: 29em;
  }
  .phone svg{
    stroke: #5D589A;
  }
  
  .social {
    display: flex;
    gap: 1em;
    margin-top: 0.7em;
    color: #f26522;
    cursor: pointer;
    
    position: absolute;
    bottom: 2em;
    right: 2em;
  }
  
  .social a img:hover {
    transition: 0.5s;
    scale: 1.1;
    opacity: 0.8;
  }
  .FacebookIcon{
    width: 2em;
  }
  
  