.profileCard {
    position: relative;
  display: flex;
  align-items: center;
  background: #FFF;
  border-radius: 16px;
  padding: 20px;
  padding-top: 0px;
  width: 940px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: 'MyFont', sans-serif;
  height: 260px;
  border: #5D589A 1px solid;
  }
  
  .editIcon {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }
  .editLink svg{
    fill: #5D589A;
  }
  .editIcon:hover{
    transition: 0.5s;
    scale: 1.1;
    opacity: 0.8;
  }

  .profileImage{
    flex-shrink: 0;
    padding-top: 20px;
  }

  .profileImage img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profileInfo {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: #2e1b3f; 
  }
  
  .profileInfo h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #221F50;
  }
  
  .birthdate,
  .location {
    font-size: 18px;
    color: #5D589A;
    font-weight: 500;
    margin: 2px 0;
  }
  
  .role {
    color: #E07B3B;
    font-weight: 500;
    margin: 4px 0 12px;
    font-size: 18px;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 18px;
    margin-bottom: 50px;
  }
  
  .contact div {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    color: #5D589A; 
    
  }
  .email{
    position: absolute;
    bottom: 35px;
  }
  .email svg{
    fill: #5D589A;
  }
  .phone{
    position: absolute;
    bottom: 35px;
    left: 455px;
  }
  .phone svg{
    stroke: #5D589A;
  }
  
  .social {
    display: flex;
    gap: 16px;
    margin-top: 12px;
    color: #f26522;
    cursor: pointer;
    
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  
  .social a img:hover {
    transition: 0.5s;
    scale: 1.1;
    opacity: 0.8;
  }
  .FacebookIcon{
    width: 33px;
  }
  
  