.searchBar {
    display: flex;
    align-items: center;
    background-color: #FFFF;
    padding: 0.6em;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
    width: 85em;
    height: 5em;
    border-radius: 2.8em;
    font-family: 'Myfont', sans-serif;
    position: relative;
  }
.searchBar input{
    visibility: hidden;
    height: 0;
}
  .searchInput {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 0.06em solid #ddd;
    border-radius: 0.2em;
    padding: 0.3em 0.6em;
    margin-right: 0.6em;
    width: 33em;
    height: 4em;
    border-radius: 3em;
  }
  
  .searchIcon {
    margin-left: 1.5em;
    color: #666;
  }
  
  .Adress {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 1.2em;
  }
  
  .searchInput input {
    visibility: inherit;
    display: flex;
    border: none;
    background: none;
    outline: none;
    font-size: 1.3em;
    width: 24em;
    height: 3em;
    border-radius: 0.6em;
    color: #5D589A;
    font-family: 'Myfont', sans-serif;
    padding: 0.5em;
  }
  
  .suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    border: 0.06em solid #ccc;
    border-top: none;
    max-height: 12.5em;
    overflow-y: auto;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
  }
  
  .suggestionItem {
    padding: 0.5em 0.7em;
    cursor: pointer;
    font-family: 'Myfont', sans-serif;
    color: #5D589A;
  }
  
  .suggestionItem:hover {
    background-color: #f0f0f0;
  }
  
  .filterButtons {
    display: flex;
    gap: 2em;
    margin-right: 0.6em;
    margin-left: 2rem;
  }
  
  .filterButton {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 0.06em solid #ddd;
    border-radius: 0.2em;
    padding: 0.3em 0.6em;
    font-size: 0.9em;
    cursor: pointer;
    position: relative;
  }
  .filterButton span{
    color: #5D589A;
    font-size: 1.3em;
    margin-left: 0.7em;
  }
  
  .filterIcon {
    margin-left: 0.6em;
  }
  
  .dataButton {
    width: 15em;
    height: 4em;
    border-radius: 3em;
  }
  
  .calendarWrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
  }
  
  .peopleButton {
    width: 20em;
    height: 4em;
    position: relative;
    border-radius: 3em;
  }
  
  .peopleMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 0.06em solid #ddd;
    border-radius: 0.2em;
    padding: 0.6em;
    z-index: 10;
    width: 20em;
  }
  
  .peopleMenu div {
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;
  }
  
  .peopleType {
    width: 8em;
    display: flex;
    justify-content: left;
    font-size: 1.6em;
    color: #5D589A;
    font-family: 'Myfont', sans-serif;
  }
  
  .increment, .decrement  {
    width: 1em;
    height: 1em;
    border: none;
    background: none;
    font-size: 2.5em;
    color: #5D589A;
    display: flex;
    margin-bottom: 0.3em;
  }
  
  .decrement {
    justify-content: center;
    align-items: center;
  }
  
  .peopleText {
    font-size: 2em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    font-family: 'Myfont', sans-serif;
    color: #5D589A;
  }
  
  .submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8c42;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 0.6em;
    width: 5.5em;
    height: 4em;
  }
  
  .arrowIcon {
    display: inline-block;
    
  }

  .airbnbDatePicker {
    border: 0.06em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
    font-family: 'Myfont', sans-serif;
    color: #5D589A;
  }
  .react-datepicker__input-container input{
    display: none;
  }