.walletCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFE8D9;
    border-radius: 16px;
    padding: 24px;
    max-width: 504px;
    height: 280px;
    font-family: 'MyFont', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    color: #221F50;
    position: relative;
    border: #5D589A 1px solid;
  }
  
  /* Левая часть */
  .walletLeft {
    display: flex;
    flex-direction: column;
  }
  
  .walletLeft h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    
  }
  
  .cardLabel {
    font-size: 18px;
    color: #5D589A;
  }
  
  .cardNumber {
    margin-top: 5px;
    background: #fcd3c9;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 15px;
    color: #5D589A;
    width: fit-content;
  }
  
  .balanceLabel {
    margin-top: 25px;
    font-size: 18px;
    color: #5D589A;
  }
  
  .balance {
    font-size: 28px;
    font-weight: 700;
    color: #5D589A;
  }
  
  .currency {
    font-size: 28px;
  }
  
  /* Кнопка */
  .topUpBtn {
    margin-top: 30px;
    background: #f26522;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    width: 140px;
    height: 35px;
  }
  .topUpBtn:hover {
    scale: 1.05;
    opacity: 90;
    transition: 0.4s;
  }
  
  /* Правая часть */
  .walletRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    margin-left: 15px;
    margin-bottom: 35px;
  }
  
  .payIcons {
    display: flex;
    gap: 10px;
  }
  
  .purseImg {
    height: auto;
    margin-right: 24px;
  }
  