.walletCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    border-radius: 1em;
    padding: 1.5em;
    max-width: 31.5em;
    height: 17.5em;
    font-family: 'MyFont', sans-serif;
    box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.05);
    color: #221F50;
    position: relative;
    border: #5D589A 0.06em solid;
  }
  
  /* Левая часть */
  .walletLeft {
    display: flex;
    flex-direction: column;
  }
  
  .walletLeft h2 {
    margin: 0;
    font-size: 1.75em;
    font-weight: 700;
    
  }
  
  .cardLabel {
    font-size: 1.1em;
    color: #5D589A;
  }
  
  .cardNumber {
    margin-top: 0.3em;
    background: #fcd3c9;
    padding: 0.3em 0.7em;
    border-radius: 0.7em;
    font-size: 1em;
    color: #5D589A;
    width: fit-content;
  }
  
  .balanceLabel {
    margin-top: 1.4em;
    font-size: 1.1em;
    color: #5D589A;
  }
  
  .balance {
    font-size: 1.75em;
    font-weight: 700;
    color: #5D589A;
  }
  
  .currency {
    font-size: 1.75em;
  }
  
  /* Кнопка */
  .topUpBtn {
    margin-top: 1.5em;
    background: #f26522;
    color: white;
    border: none;
    padding: 0.4em 1.1em;
    border-radius: 0.4em;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
    width: 8em;
    height: 2em;
  }
  .topUpBtn:hover {
    scale: 1.05;
    opacity: 90;
    transition: 0.4s;
  }
  
  /* Правая часть */
  .walletRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.7em;
    margin-left: 1em;
    margin-bottom: 2.2em;
  }
  
  .payIcons {
    display: flex;
    gap: 0.6em;
  }
  
  .purseImg {
    height: auto;
    margin-right: 1.5em;
  }
  