body {
  font-family: 'Myfont', sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFE8D9;
  position: relative;
}

.h1 {
  color: #5D589A;
  font-size: 4.6em;
  margin-top: 0.6em;
  line-height: 1.2em;
  font-weight: 800;
}

.topUpBtn {
  display: flex;
  justify-content: center;
  padding-top: 0.1em;
  text-decoration: none;
  margin-top: 1.1em;
  color: #AFB06A;
  border-radius: 1.1em;
  font-weight: 600;
  font-size: 1.75em;
  cursor: pointer;
  width: 9em;
  height: 2em;
  border: 0.1em #AFB06A solid;
  position: absolute;
  right: 8em;
  top: 0.6em;
}

.topUpBtn:hover {
  scale: 1.05;
  opacity: 0.8; /* Исправлено с '80' на 0.8 для корректной прозрачности */
  transition: 0.4s;
}

.main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-color: #FFE8D9;
  position: relative;
}

.sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 15em;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1.3em;
}

.content {
  flex-grow: 1;
  padding: 2em;
  overflow-y: auto;
  display: flex;
  gap: 1em;
}

.calendarContainer {
  margin: 1.3em 0;
  width: 100%;
  position: relative; 
}

/* Прижатие Footer к низу */
footer {
  margin-top: auto;
}