body{
    font-family: 'Myfont', sans-serif; 
}
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFE8D9;
  }
  .searchBar{
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
  }
  
  .main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    background-color: #FFE8D9;
    position: relative;
  }
  
  .content {
    flex-grow: 1;
    padding: 2em;
    
    overflow-y: auto;
    display: flex;
    gap: 1em;
    
    left: 17em;
    top: 6.25em;
    
  }
  .mainContent{
    display: flex;
    flex-direction: column;
  }
  .Adress{
    display: flex;
    flex-direction: column;
    margin-left: 1.2em;
  }
  .Adress input{
    color: #5D589A;
    width: 20.6em;
    height: 2.6em;
    border: 0.05em solid #5D589A;
    border-radius: 0.55em;
    font-size: 1.1em;
    font-family: 'Myfont', sans-serif;
    padding: 0.4em;
  }
  
  
  